<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div id="authors" class="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show", author %>
    </p>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
