<p style="color: green"><%= notice %></p>

<h1>Libraries</h1>

<div id="libraries" class="grid-container">
  <% @libraries.each do |library| %>
    <%= render library %>
    <p>
      <%= link_to "show", library %>
    </p>
  <% end %>
</div>

<%= link_to "New library", new_library_path %>
