<p style="color: green"><%= notice %></p>

<h1>User reccords</h1>

<div id="user_reccords">
  <% @user_reccords.each do |user_reccord| %>
    <%= render user_reccord %>
    <p>
      <%= link_to "Show this user reccord", user_reccord %>
    </p>
  <% end %>
</div>

<%= link_to "New user reccord", new_user_reccord_path %>
